---
import ProjectCard from "./ProjectCard.astro";
import Button from "./Button.astro";
import { featuredProjects } from "../site-config";
---

<section>
  <div class="flexbox-row">
    {
      featuredProjects
        .filter((project) => project.featured)
        .map((project) => (
          <ProjectCard
            title={project.title}
            description={project.description}
            tags={project.tags}
            githubUrl={project.githubUrl}
            demoUrl={project.demoUrl}
          />
        ))
    }
  </div>

  <div class="view-all">
    <Button href="/projects" variant="outline"> View All Projects </Button>
  </div>
</section>

<style>
  /*
 * Responsive Flexbox Grid
 * Flexbox  has different behavior for the last row (items expand to fill available space)
 */
  .flexbox-row {
    --min: 20ch;
    /* Minimum item width before wrapping */
    --gap: 1rem;
    /* Gap between flex items */

    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);

    > * {
      flex: 1 1 var(--min);
    }
  }

  .view-all {
    margin-top: var(--s2);
    text-align: center;
  }
</style>
